@media (max-width: 768px) {
  .thema {
    margin-bottom: 0;
    font-weight: bold;
  }

  .inleiding {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    color: #9269eb;
  }
}

@media (min-width: 768px) {
  .thema {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
  }

  .inleiding {
    font-weight: bold;
    margin-bottom: 0;
    color: #9269eb;
  }
}
