<header><img class="logo-m" src="../assets/images/volkenkunde-logo.png" alt=""><app-thema [thema-var]='thema'></app-thema><img class="logo" src="../assets/images/volkenkunde-logo.png" alt=""></header>
<div class="container">
    <app-score class="score" [score-var]='score'></app-score>
    <app-reset class="reset" (reseted)="reset($event)" ></app-reset>
</div>
<div class="container">
    <app-checkbox (checked)="onChecked($event)" ></app-checkbox>
</div>
<div class="container">
    <app-image [src]="srcImage"></app-image>
</div>
<div class="container">
     <app-button [button-var]='buttonLabel' [hint-var]='hintAantal' (addedClassName)="addingClassName($event)" ></app-button>
</div>
<div class="container">
   <app-hint [answerClassName-var]='answerClassName' [hintClassName-var]='hintClassName' [herkomst-var]='herkomst' [title-var]='title'></app-hint>
</div>





